<h2>Nuevo Todo</h2>
<form action="/todos" method="POST">
    <label for="title">Titulo</label>
    <input type="text" name="Descriptionle">

    <label for="description">Description</label>
    <input type="text" name="description">

    <button type="submit">Guardar</button>
</form>


<a href="/">Volver al listado</a>